[Unit]
Description=Token Price Tracker Timer - 1時間おきに実行
Requires=token_price_tracker.service

[Timer]
# 毎時00分に実行
OnCalendar=*:00:00
# OnUnitActiveSec=1h
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
