[Unit]
Description=USD/JPY OHLC Data Aggregator
After=network.target

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/curcon-tracker
Environment="PATH=/usr/bin:/usr/local/bin:/home/ubuntu/.local/bin"
Environment=AWS_ACCESS_KEY_ID=AKIAZMJFRR5LBGA56R76
Environment=AWS_SECRET_ACCESS_KEY=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
Environment=AWS_DEFAULT_REGION=ap-northeast-1
ExecStart=/usr/bin/python3 /home/ubuntu/curcon-tracker/data_acquisition_system/usdjpy_price_tracker/usdjpy_ohlc_aggregator.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

